.section-main { 
  margin-top: 5rem;
  background-size: cover;
  background-image: url();
  padding: 3.5rem 0 18rem;
  background-position: center;

  h1 {
    margin-bottom: 3rem;
  }
  .under-heading-p {
    margin-bottom: 6rem;
  }

  .main-slider {
    position: relative;
    
    .main-slide {
      height: 47rem;
      &>div {
        width: 50%;
        position: relative;
      }
      img {
        width: 85%;
      }
    }
  }

  @include media-breakpoint-up(lg) {
    margin-top: 7rem;
  }
  @include media-breakpoint-down(md) {
    margin-top: 7rem;
    padding: 3.5rem 0 3.5rem;
    h1 {
      margin-bottom: 3rem;
    }
    .under-heading-p {
      margin-bottom: 6rem;
    }

    .main-slider {
      position: relative;
      
      .main-slide {
        height: 47rem;
        &>div {
          width: 50%;
          position: relative;
        }
        img {
          width: 85%;
        }
      }
    }
  }
  @include media-breakpoint-down(sm) {
    margin-top: 7rem;
    padding: 3.5rem 0 3.5rem;
    h1 {
      margin-bottom: 3rem;
    }
    .under-heading-p {
      margin-bottom: 4rem;
    }

    .main-slider {
      
      .main-slide {
        height: initial;
        padding-top: 4rem;
        &>div {
          width: 100%;

          &:last-child {
            display: none;
          }
        }
      }
    }
  }
}

.section-features {
  h2 {
    max-width: 30rem;
  }
}

.section-portfolio {
  .portfolio-list {
    margin: 0 -1rem;
    .portfolio-item {
      margin: 0 1rem;
    }

    .slick-arrow {
      top: 0;
      padding: 8.8rem 2.1rem;
      background-color: #e4f6ff;
    }

    .prev-arrow {
      left: -7.5rem;
    }
    .next-arrow {
      left: inherit;
      right: -7.5rem;
    }
  }
}

.section-video {
  position: relative;
  background-size: cover;
  background-position: center;
  background-image: url($path-image + '/video-bg.jpg');
  
  img {
    top: 50%;
    left: 50%;
    cursor: pointer;
    position: absolute;
    transform: translate(-50%, -50%);
  }

  height: 40rem;

  @include media-breakpoint-down(md) {
    height: 35rem;
  }
  @include media-breakpoint-down(sm) {
    height: 30rem;
  }
}

.section-reviews {
  .under-heading-p {
    max-width: 46rem;
  }

  .reviews {
    padding-top: 4rem;

    .slick-list {
      overflow: inherit;
    }

    .review {
      position: relative;
    
      .bg-light-blue {
        padding: 3rem;
        margin: 0 -3rem;
      }
    }
  }
}

.section-contacts {
  .under-heading-p {
    max-width: 46rem;
  }

  .contacts {
    .contacts-text {
      width: 35%;

      ul {
        padding: 0;
        list-style: none;

        a {
          color: #fff;
        }

        li {
          position: relative;
          padding-left: 1.5rem;
          max-width: 27rem;
          
          &:before {
            content: "";
            width: 5px;
            height: 5px;
            background: $blue;
            position: absolute;
            left: 0;
            top: 0.8rem;
          }
        }
      }
    }

    .contacts-map {
      width: 60%;
    }

    @include media-breakpoint-down(sm) {
      flex-wrap: wrap;
      .contacts-text {
        width: 100%;
      }
      .contacts-map {
        width: 100%;
        height: 30rem;
        margin-top: 3rem;
      }
    }
  }
}