//Custom variables

// Descriptive color variables

// Functional color variables

// Font stacks

// Asset paths
$path-image   :   '../img';
$path-fonts     :  '../fonts';

$blue: #17a9f3;
$light-blue: #f6fcff;
$text-dark: #101624;
$text-gray: #494949;
$bg-gray-1: #ececec;
$bg-gray-2: #f5f2ec;
$icon-gray: #bdbdbc;
